@import url(normalize.css);

/* -----------------------------------------------------------
 * Colors
 */

:root {
    --bg: #ccc;
    --text: #222;
    --text-light: #eee;
    --panel-bg-light-rgb: 255 255 255;
    --panel-bg-dark-rgb: 0 0 0;
    --panel-opacity: 70%;
    --border: #555;
    --border-light: #fff;
}

/* -----------------------------------------------------------
 * Typology
 */

p,
a,
div,
input,
img,
button,
li {
    font: 16px/1.5 "roboto", sans-serif;
    color: var(--text);
}

h1,
h2,
h3 {
    font: bold 25px/1.5 "roboto", sans-serif;
    color: var(--text);
}

/* -----------------------------------------------------------
 * General layout
 */

h1,
h2,
h3 {
    margin: 0;
    padding: 15px 0;
}

.content-container {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.wrap {
    padding: 0 5%;
}

.secondary-content-area {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: flex-end;
}

@media only screen and (min-width: 960px) {

    .content-container {
        grid-template-rows: minmax(80vh, auto) 1fr;
    }

    .wrap {
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
        padding: 0;
    }

}

/* -----------------------------------------------------------
 * Backgrounds
 */

body {
    background: var(--bg);
}

.cloud-pattern {
    background: url(../img/clouds.svg);
}

/* -----------------------------------------------------------
 * Panels
 */

.panel--light-solid {
    background: rgb(var(--panel-bg-light-rgb));
}

.panel--light {
    background: rgb(var(--panel-bg-light-rgb) / var(--panel-opacity));
}

.panel--dark-solid {
    background: rgb(var(--panel-bg-dark-rgb));
}

.panel--dark {
    background: rgb(var(--panel-bg-dark-rgb) / var(--panel-opacity));
}

.panel--dark p,
.panel--dark a,
.panel--dark div,
.panel--dark input,
.panel--dark img,
.panel--dark button,
.panel--dark li,
.panel--dark h1,
.panel--dark h2,
.panel--dark h3,
.panel--dark-solid p,
.panel--dark-solid a,
.panel--dark-solid div,
.panel--dark-solid input,
.panel--dark-solid img,
.panel--dark-solid button,
.panel--dark-solid li,
.panel--dark-solid h1,
.panel--dark-solid h2,
.panel--dark-solid h3 {
    color: var(--text-light);
}

/* -----------------------------------------------------------
 * Nav Menu
 */

.header-bg {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0;
    visibility: hidden;
}

.menu-open .header-bg {
    opacity: var(--panel-opacity);
    visibility: visible;
}

.sidebar {
    position: fixed;
    right: -430px;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 30px rgb(0 0 0 / 30%);
    transition: right 0.2s ease-in;
}

.menu-open .sidebar {
    right: 0;
}

.site-title {
    transition: color 0.2s ease-in;
}

.nav-toggle, .site-title {
    z-index: 10;
}

.nav-menu {
    padding: 65px 23px 23px;
    list-style: none;
}

@media only screen and (min-width: 960px) {

    .menu-open .site-title {
        color: var(--text-light);
    }

    .sidebar {
        max-width: 400px;
    }

}

/* -----------------------------------------------------------
 * Header
 */

.site-header {
    position: relative;
    height: 70px;
}

.masthead {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.header-bar {
    display: grid;
    grid-template-columns: 1fr 60px;
    padding-left: 24px;
}

/* -----------------------------------------------------------
 * Footer
 */

.footer-bar {
    text-align: center;
}