@import url(normalize.css);

/* -----------------------------------------------------------
 * Colors
 */

:root {
    --primary-bg: #ccc;
    --secondary-bg-rgb: 0 0 0;
    --text: #222;
    --text-light: #eee;
    --panel-bg-rgb: 255 255 255;
    --border: #555;
    --border-light: #fff;
}

/* -----------------------------------------------------------
 * Typology
 */

p,
a,
div,
input,
button,
li {
    font: 16px/1.5 "roboto", sans-serif;
    color: var(--text);
}

h1,
h2,
h3 {
    font: bold 25px/1.5 "roboto", sans-serif;
    color: var(--text);
}

/* -----------------------------------------------------------
 * General layout
 */

h1,
h2,
h3 {
    margin: 0;
    padding: 15px 0;
}

.content-container {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.wrap {
    padding: 0 5%;
}

.secondary-content-area {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: flex-end;
}

@media only screen and (min-width: 960px) {

    .content-container {
        grid-template-rows: minmax(80vh, auto) 1fr;
    }

    .wrap {
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
        padding: 0;
    }

}

/* -----------------------------------------------------------
 * Background pattern
 */

body {
    background: var(--primary-bg);
}

.cloud-pattern {
    background: url(../img/clouds.svg);
}

/* -----------------------------------------------------------
 * Secondary Content Area
 */

.secondary-content-area {
    background: rgb(var(--secondary-bg-rgb) / 70%);
}

.secondary-content-area p,
.secondary-content-area a,
.secondary-content-area div,
.secondary-content-area input,
.secondary-content-area button,
.secondary-content-area li,
.secondary-content-area h1,
.secondary-content-area h2,
.secondary-content-area h3 {
    color: var(--text-light);
}

/* -----------------------------------------------------------
 * Header
 */

.masthead {
    padding: 0 5%;
}

/* -----------------------------------------------------------
 * Footer
 */

.footer-bar {
    text-align: center;
}