@import url(normalize.css);

/* -----------------------------------------------------------
 * Colors
 */

:root {
    --primary-bg: #888;
    --primary-bg-alt: #808080;
    --secondary-bg: #333;
    --text: #222;
    --text-light: #eee;
    --panel-bg: #fff;
    --panel-bg-rgb: 255 255 255;
    --border: #555;
    --border-light: #fff;
}

/* -----------------------------------------------------------
 * Hero
 */

.hero--default {
    background: repeating-linear-gradient(45deg,
        var(--primary-bg) 0px, var(--primary-bg) 8px,
        var(--primary-bg-alt) 8px, var(--primary-bg-alt) 10px);
}

/* -----------------------------------------------------------
 * Secondary Content Area
 */

.secondary-content-area {
    background: var(--secondary-bg);
}

/* -----------------------------------------------------------
 * Headings
 */

h1,
h2,
h3 {
    margin: 0;
    padding: 15px 0;
}

/* -----------------------------------------------------------
 * General layout
 */

.wrap {
    padding: 0 5%;
}

@media only screen and (min-width: 960px) {

    .wrap {
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
        padding: 0;
    }

}